
											#menu-dashboard a .wp-menu-name{
												background-color: #85bb65 !important;
												color: #fff !important;	
											}
										
											#toplevel_page_stm-admin a .wp-menu-name{
												background-color: #85bb65 !important;
												color: #fff !important;	
											}
										
											#menu-posts a .wp-menu-name{
												background-color: #85bb65 !important;
												color: #fff !important;	
											}
										
											#menu-media a .wp-menu-name{
												background-color: #85bb65 !important;
												color: #fff !important;	
											}
										
											#menu-pages a .wp-menu-name{
												background-color: #85bb65 !important;
												color: #fff !important;	
											}
										
											#menu-appearance a .wp-menu-name{
												background-color: #e63638 !important;
												color: #fff !important;	
											}
										
											#menu-plugins a .wp-menu-name{
												background-color: #e63638 !important;
												color: #fff !important;	
											}
										
											#menu-users a .wp-menu-name{
												background-color: #e63638 !important;
												color: #fff !important;	
											}
										
											#toplevel_page_profile-builder a .wp-menu-name{
												background-color: #e63638 !important;
												color: #fff !important;	
											}
										
											#menu-tools a .wp-menu-name{
												background-color: #e63638 !important;
												color: #fff !important;	
											}
										
											#menu-settings a .wp-menu-name{
												background-color: #e63638 !important;
												color: #fff !important;	
											}
										